<!DOCTYPE html>

<html lang="pt-BR">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.3/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <!-- icon med -->
        <link href="/static/assets/images/medmentoryicon_icon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        <link href="/static/cur_pg.css" rel="stylesheet">

        <title>
        {% block title %}
             Template Default
        {% endblock %}
        </title>
        {% block head %}
        {% endblock %}

    </head>
    <body>
        <div class="curHmain">
            <div {% if curTtlIMG is not none %}class="cur_headrNoIMG"{% else %}class="cur_headr"{% endif %}></div>
            <h1 class="h1 cursTl">{% block course_name %}Course name{% endblock %}</h1>
            <ul class="logregoutbox list-group list-group-flush list-group-horizontal">
                {% if session["usr_id"] %}
                    <a href="/logout" style="text-decoration: none;"><li class="list-group-item">Sair</li></a>
                    <a href="/usrMainPage" style="text-decoration: none;"><li class="list-group-item">Página do Estudante</li></a>
                {% else %}
                    ?
                {% endif %}
                {% if session["isAdmin"] %}
                    <button id="editTTlimg" type="button" class="btn bi bi-pencil-square" style="position: absolute; color: white;"></button>
                    <a href="/adminMainPage" style="text-decoration: none;"><li class="list-group-item" id="admButton">ADMIN</li></a>
                {% endif %}
            </ul>

            {#
            {% if session["isAdmin"] %}
                <div class="Adminheader" style="top: 70%;">ADMIN</div>
            {% endif %}
            #}

            {% block headerbar %}
                TEST
            {% endblock%}
        </div>
        <main>
            <div class="crsCntntWrap">
                Before The content
                <hr>
                {% if isFile is false %}
                    {% if session["isAdmin"] %}
                    <div class="docBw">
                        <a id='docAddbtn'>
                            <i class="bi bi-file-earmark-arrow-up-fill"></i>
                            <span>UPLOAD</span>
                        </a>
                    </div>
                    {% endif %}
                {% endif %}

                {% if isFile is false %}
                    <div class="crsCntntVid">
                        <h6>Video Player Box | Aula [numero]</h6>
                        <iframe allowFullscreen src="{{cPath}}"></iframe>
                    </div>
                {% else %}
                    <div class="crsCntntFl">
                        <div class="docBw">
                            <a href="{{ fPath }}" download="{{ fPath }}" target="_blank">
                                <i class="bi bi-file-earmark-arrow-down-fill"></i>
                                <span>Lista</span>
                            </a>
                        </div>
                    </div>
                    <div class="crsCntntVid">
                        <h6>Video Player Box | Aula [numero]</h6>
                        <iframe allowFullscreen src="{{cPath}}"></iframe>
                    </div>
                {% endif %}

                <div class="crsCntntList">
                    <ol class="mainCntList list-group">
                        {% for x in aulas %}
                        <div>
                            <li class="clssLI list-group-item"> <a href="{{ url_for('cours_redir_pg', course=course,clss=x[2]) }}">{{ x[4] }} </a> {% if session["isAdmin"] %}<button class="btn delbtncls" name="{{x[0]}}">X</button>{% endif %} </li>
                        </div>
                        <!--
                            {#
                            <ul class="list-group"> 
                                <li class="crsListSubCn list-group-item"> The content </li>
                                <li class="crsListSubCn list-group-item"> The content </li>
                            </ul>
                            #}
                        -->
                        </li>
                        {% endfor %}
                    </ol>
                    {% if session["isAdmin"] %}
                        <button class="btn" id='classAddbtn'>+</button>
                        <div class="popup-wrapper">
                            <div class="popup">
                                <div class="popup-content">
                                    <div class="popup-sideb">
                                        <div class="VideoAula">
                                            <p class="VideoAulap">Video</p>
                                        </div>
                                        {#
                                        <div class="DocumentoAula">
                                            <p class="DocumentoAulap">Documento</p>
                                        </div>
                                        #}
                                    </div>
                                    <div class="VAForm">
                                        <form action="/classMCreate" method="post" enctype='multipart/form-data'>
                                            <input name="course" type="text" value="{{ course }}" style="visibility: hidden;position: absolute;">
                                            <input name="type" type="text" value="0" style="visibility: hidden;position: absolute;">
                                            <h6>Link</h6>
                                            <input name="link" type="url" style="width: 80%;" required>
                                            <h6>Título da Lição</h6>
                                            <input class="classtitle" name="classtitle0" required style="width: 80%;">
                                            <h6>Documento</h6>
                                            <hr style="visibility: hidden;">
                                            <input class="form-control" name="docF" type="file" accept=".pdf" style="width: 50%;">
                                            <br>
                                            <button type=submit>Confirmar</button>
                                        </form>
                                    </div>
                                    {#
                                    <div class="DAForm">
                                        <form action="/classMCreate" method="post" enctype='multipart/form-data'>
                                            <input name="course" type="text" value="{{ course }}" style="visibility: hidden;position: absolute;">
                                            <input name="type" type="text" value="1" style="visibility: hidden;position: absolute;">
                                            <h6>Arquivo</h6>
                                            <input class="form-control" name="docF" type="file" accept=".pdf" required style="width: 50%;">
                                            <h6>Título da Lição</h6>
                                            <input class="classtitle" name="classtitle1" required>
                                            <h6>Descrição</h6>
                                            <textarea name="clssDesc" class="form-control classdesc"></textarea>
                                            <button type="submit">Confirmar</button>
                                        </form>
                                    </div>
                                    #}
                                </div>
                                <div class="popup-close">x</div>
                            </div>
                        </div>
                        <div class="popup-wrapper" id="ppwb">
                            <div class="popup" id="doc">
                                <div class="popup-content">
                                    <div class="popup-sideb"></div>
                                    <div class="DAForm" id="DFormB">
                                        <form action="/classMCreate" method="post" enctype='multipart/form-data'>
                                            <input name="classN" type="text" value="{{ clss }}" style="visibility: hidden;position: absolute;">
                                            <input name="course" type="text" value="{{ course }}" style="visibility: hidden;position: absolute;">
                                            <input name="type" type="text" value="1" style="visibility: hidden;position: absolute;">
                                            <h6>Arquivo</h6>
                                            <hr style="visibility: hidden;">
                                            <input class="form-control" name="docF" type="file" accept=".pdf" required style="width: 50%;">
                                            <br>
                                            <button type="submit">Confirmar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="descMn">
                {% block Descblock %}
                    Text Test
                {% endblock %}
                </div>

            </div>
        
        </main>
        {% if session["isAdmin"] %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script type="text/javascript">
                const coursid = '{{course}}';
            </script>
            <script type="module" src="/static/crsApg.js"></script>
        {% endif %}
        <script type="text/javascript">
            const isFile = '{{isFile}}';
        </script>
        <script type="module" src="/static/crsPapg.js"></script>
    </body>
</html>