{% extends "baseLayout.html" %}

{% block title %}
    Página do Estudante
{% endblock %}

{% block head %}
<link href="/static/curso_main.css" rel="stylesheet">
{% endblock %}

{% block headerbar%}
{% endblock %}

{% block main %}
    <div class="curso_showcase container py-5 text-center">
    {% if curso is not none %}
        {% for curso in cursos %}
                    <a class="cursolinked" id="acurso"href="{{ url_for('cours_redir_pg', course=curso[0], clss=1) }}">
                        <div class="curso">
                            <div class="curso_image_hold">
                                {% set image_path = url_for('static', filename='images/cursos/' ~ curso[1]|default('') ~ '.png') %}
                                {% if image_path | find(curso[1]) != 1 %}
                                    <img src="static/assets/images/cursos/{{ curso[1] }}.png" class="curso_image2">
                                {% else %}
                                    <img src="static/assets/images/BgImage.png" class="curso_image">
                                {% endif %}
                            </div>
                            <div class="info_curso">
                                <h3>{{ curso[1] }}</h3>
                                <div class="curs_desc">{{ curso[2] }}</div>
                                <div class="curs_price_tag">{{ curso[3] }}</div>
                            </div>
                        </div>
                    </a>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}