{% extends "baseLayout.html" %}

{% block title %}
    Particulares
{% endblock %}

{% block main %}
    <h1 style="text-align: center;">Cursos</h1>
    <div class="WrapSlCrs">
        <div class="CrsSel">
            <h1>ENEM</h1>
        </div>
        <div class="CrsSel">
            <h1>UNP</h1>
        </div>
    {#
    <div class="advPnls">
        <img src="/static/assets/images/mainPg/Info.png">
        <img class="Difpng" id="dif" src="/static/assets/images/mainPg/Dif.png">
    </div>
    #}
{% endblock%}